<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }

  .card-ticket {
    background-color: #b7cdb8;
  }
 
</style>

<div class="pagetitle">
    <h1>Faire un avoir </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Avoir</li>
      </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
            <div class="card-body px-3 py-3 px-lg-3 py-lg-4">
               
                <div class="row mb-3">
                    <div class="col-md-4 col-12">
                        <label for="" class="mb-2">Tickets</label>
                        <input type="text" name="" id="" class="form-control form-control-sm" placeholder="Saisissez votre ticket">
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Categories</label>
                            <select name="" id="" class="form-control form-control-sm">
                                <option value="" selected disabled>Selectionner une catégorie</option>
                                <option value="1">Categorie 1</option>
                                <option value="2">Categorie 2</option>
                                <option value="3">Categorie 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Produits</label>
                            <select name="" id="" class="form-control form-control-sm">
                                <option value="" selected disabled>Selectionner un produit</option>
                                <option value="1">Produit 1</option>
                                <option value="2">Produit 2</option>
                                <option value="3">Produit 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <h4 class="fw-bold my-4">Ticket : "14K4785kD59"</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Intitulé</th>
                                <th>Qté</th>
                                <th>PU(HT)</th>
                                <th>Remise</th>
                                <th>PT(HT)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ref1</td>
                                <td>Produit 1</td>
                                <td>2</td>
                                <td>12000 Ar</td>
                                <td>Pas de remise</td>
                                <td>24000 Ar</td>
                                <td>
                                    <a href="#" class="action-pencil d-block text-center mb-2"><i class="bi bi-pencil"></i></a>
                                    <a href="#" class="action-trash d-block text-center mb-2"><i class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <div class="card p-4" style="border: 1px solid #b7cdb8; margin-right: 15px;">
                            Ancien somme : 24000 Ar
                        </div>
                        <div class="card p-4" style="border: 1px solid #b7cdb8;">
                            Nouveau somme : 24000 Ar
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="#" class="btn btn-primary btn-sm px-3">Valider</a>
                        <button type="submit" class="btn btn-sm btn-primary px-3 mx-3">Payer</button>
                    </div>
                </div>
                   
            </div>
        </div>
      </div>
    </div>
    <div id="blocModalVentesEmpty"></div>
  </section>

  <script>
  
    $(document).ready(function() {
        $('#tab-avoir').css('display', 'block');
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').addClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').addClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-stock').removeClass('active');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-revenu').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
         $('#tab-ventes').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
        $('#tab-comptabilite-liste').removeClass('active');
        $('#tab-caisse').css('display', 'none');
        $('#tab-depense-vente').css('display', 'none');
        $('#tab-comptabilite-vente').css('display', 'none');
        $('#tab-session').css('display', 'none');
        $('#tab-liste-vente').css('display', 'none');


    
    });

  
  </script>