
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        {% include 'admin/affaires/entete_compte.html.twig' with {'compte': compte} %}
       <div class="card p-3 p-lg-5">
        <table class="table table-striped" id="table-produit-fournisseur" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Référence</th>
                    <th>Compte</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in listes %}
                <tr>
                    <td> {{produit.nom}} </td>
                    <td> {{produit.reference}} </td>
                    <td> 
                        {% for compte in produit.comptes %} 
                            {{compte.nom}}
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun enregistrement trouvé</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       </div>
      </div>
    </div>
   
  </section>

  <script>

    $(document).ready(function() {
        $('#tab-compte_1').removeClass('active').empty();
        $('#tab-compte_2').removeClass('active').empty();
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#affaires_fournisseur').append(response.html).addClass('active');
        $('#affaires_client').removeClass('active').empty();
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
            $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').removeClass('active');
        $('#tab-utilisateur').removeClass('active');

        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        
        
        $('#tab-application').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-produit-type').removeClass('active');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
                $('#tab-comptabilite-liste').removeClass('active');


      
    });


</script>