<style>
    a {
        font-size: 14px;
    }

    .info {
        color: #0d6efd !important;
    }

    .number_doc {
        background-color: #0d6efd;
        border-radius: 5px;
        padding: 3px 8px;
        float: right;
    }

    /*.card-list {
        background-color: #ebecee;
    }*/

    .nav-link {
        font-size: 13px !important;
    }

    .nav-link.active {
        background-color: #0d6dfd38;
        color: #fff;
    }
</style>
<div class="">


    <nav class="navbar navbar-expand-lg navbar-light bg-light card py-3 p-2">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-column me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link information text-black" href="#tab-info-affaire" onclick="return information({{affaire.id}})">
                            <i class="bi bi-info-circle-fill"></i>
                            <span class="mx-1">Information</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-financier-affaire" onclick="return financier({{affaire.id}})" class="nav-link financier text-black">
                            <i class="bi bi-cash-coin"></i>
                            <span class="mx-1">Financier</span>
                        </a>
                    </li>
                    {% if affaire.products|length > 0 %}
                    <li class="nav-item">
                        {% if app_authorization.isUserGrantedPrivilege('responsable_caisse') %}
                            <a href="#tab-facture-affaire" onclick="return showTabFactureAffaire({{affaire.id}})" class="text-black nav-link d-block mb-3 facture">
                                <i class="bi bi-file-earmark-excel-fill"></i>
                                <span class="mx-1">Factures</span>
                            </a>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    

    
</div>

<script>
    $(document).ready(function() {
        var anchorName = document.location.hash.substring(1);
        if(anchorName == "tab-financier-affaire") {
            $('.nav-link').removeClass('active');
            $('.nav-link.financier').addClass('active');
        }else if (anchorName == "tab-info-affaire") {
            $('.nav-link').removeClass('active');
            $('.nav-link.information').addClass('active');
        } else if (anchorName == "tab-facture-affaire" || anchorName == "tab-nouveau-facture" || anchorName == "tab-echeance") {
            $('.nav-link').removeClass('active');
            $('.nav-link.facture').addClass('active');
        }
    })
</script>
