<style>
  #historique-nav li a {
    color: #242323 !important;
  }

  #historique-nav li a.active {
    color: #4154f1 !important;
  }
</style>
<aside id="sidebar" class="sidebar">

    <ul class="nav sidebar-nav flex-column" id="sidebar-nav">

      <li class="nav-item" id="dashboard" title="Tableau de board">
        <a class="nav-link active" href="" data-placement="right" data-toggle="tab" onClick="return showTabDashboard()">
          <i class="bi bi-grid"></i>
          <span>Tableau de board</span>
        </a>
      </li>

      <li class="nav-item" id="application" title="Application">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-application" onclick="return showTabApplication()">
          <i class="bi bi-app"></i>
          <span>Application</span>
        </a>
      </li>

      <li class="nav-item" id="categorie" title="Catégories">
        <a class="nav-link collapsed" href="#tab-categorie" onclick="return showTabCategorie()">
          <i class="bi bi-tags"></i>
          <span>Catégories</span>
        </a>
      </li>
    
      <li class="nav-item" id="clients" title="Clients">
        <a class="nav-link collapsed" href="#tab-compte_1" onclick="return showTabCompte(1)">
          <i class="bi bi-people"></i>
          <span>Clients</span>
        </a>
      </li>
      <li class="nav-item" id="fournisseur" title="Fournisseurs">
        <a class="nav-link collapsed" href="#tab-compte_2" onclick="return showTabCompte(2)">
          <i class="bi bi-people"></i>
          <span>Fournisseurs</span>
        </a>
      </li>
      <li class="nav-item" id="devis-client" title="Devis">
        <a class="nav-link collapsed" href="#tab-devis" onclick="return showTabDevisClient('devis')">
          <i class="bi bi-quote"></i>
          <span>Devis</span>
        </a>
      </li>
      <li class="nav-item" id="commande-client" title="commandes">
        <a class="nav-link collapsed" href="#tab-commande" onclick="return showTabCommandeClient('commande')">
          <i class="bi bi-cart"></i>
          <span>Commandes</span>
        </a>
      </li>
      {% if app_authorization.isUserGrantedPrivilege('responsable_caisse') %}
        <li class="nav-item" id="comptabilite-liste-client" title="comptabilite-listes">
          <a class="nav-link collapsed" href="#tab-comptabilite-liste" onclick="return showTabComptabiliteList()">
            <i class="bi bi-currency-dollar text-white" style="padding: 4px 8px; border-radius: 100%; background-color: #7e1111;"></i>
            <span>Liste comptabilité</span>
          </a>
        </li>
      {% endif %}
       <li class="nav-item" id="facture-client" title="Facture clients">
        <a class="nav-link collapsed" href="#tab-facture" onclick="return showTabFacture()">
          <i class="bi bi-currency-euro"></i>
          <span>Factures</span>
        </a>
      </li>
      <li class="nav-item" id="produit-categorie">
        <a class="nav-link collapsed" href="#tab-produit-categorie" onclick="return showTabProduitCategorie()">
          <i class="bi bi-bag"></i>
          <span>Produit/Categories</span>
        </a>
      </li>

      <li class="nav-item" id="historique" title="Historique">
        <a class="nav-link collapsed" data-bs-target="#historique-nav" data-bs-toggle="collapse" href="#" id="historiques">
          <i class="bi bi-clock"></i><span>Historique</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="historique-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#tab-historique-produit" class="historique-link" onclick="return showTabHistoriqueProduit()">
              <i class="bi bi-box fs-6"></i><span>Produit</span>
            </a>
          </li>
          <li>
            <a href="#tab-historique-affaire" class="historique-link" onclick="return showTabHistoriqueAffaire()">
              <i class="bi bi-cart fs-6"></i><span>Affaire</span>
            </a>
          </li>
        
        </ul>
      </li>
     
      <li class="nav-item" id="profile" title="Profile">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-profile" onclick="return showTabProfile()">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

    </ul>

  </aside>