<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tab-categorie" aria-current="page" href="#tab-categorie" onClick="return showTabCategorie()" >
            <span>Catégorie</span>
            <i class="fs-2 bi bi-grid-3x3-gap" title="Catégorie"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-produit-type" href="#tab-produit-type" onClick="return showTabProduitType()">
            <span>Type</span>
            <i class="fs-2 bi bi-badge-cc" title="Type"></i>

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-produit-categorie" href="#tab-produit-categorie" onClick="return showTabProduitCategorie()">
            <span>Produit</span>
            <i class="fs-2 bi bi-box-seam" title="Produit"></i>

        </a>
    </li>
    {% if app_authorization.isUserGrantedPrivilege('super_admin') or app_authorization.isUserAllowedOnFeature('import_produit') %}
    <li class="nav-item">
        <a class="nav-link tab-import-produit" href="#tab-import-produit" onClick="return showTabImportProduit()">
            <span>Import</span>
            <i class="fs-2 bi bi-file-earmark-arrow-up" title="Import"></i>
        </a>
    </li>
    {% endif %}
   
</ul>

