<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tab-user" aria-current="page" href="#tab-utilisateur" onClick="return showTabUtilisateur()">
            <span>Utilisateur</span>
            <i class="fs-2 bi bi-people" title="Utilisateur"></i>

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-permission" href="#tab-permission" onClick="return showTabPermission()">
             <span>Permission</span>
            <i class="fs-2 bi bi-shield-lock" title="Permission" ></i>

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-privilege" href="#tab-privilege" onClick="return showTabPrivilege()">
            <span>Privilège</span>
            <i class="fs-2 bi bi-award" title="Privilège"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-cat-permission" href="#tab-categorie-permission" onClick="return showTabCategoriePermission()">
            <span>Catégorie permission</span>
            <i class="fs-2 bi bi-file-lock" title="Catégorie permission"></i>
        </a>
    </li>
</ul>

