 <div class="card-body">
          <div class="form-group d-flex justify-content-end mb-4">
                    <div class="dropdown">
                        <a class=" export-btn bg-warning p-2 dropdown-toggle text-black btn-list" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-list"></i>
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a href="#" onclick="exporterFacture('client');" class="dropdown-item"><i class="bi bi-file-earmark-excel-fill"></i><span class="mx-2">Exporter</span></a></li>
                        </ul>
                      </div>
                   
                </div>
          <table class="table table-striped" id="liste-table-facture-ajax" style="width: 100%;">
            <thead>
                  {% include 'admin/facture/_table.html.twig' with { 'type': 'thead' } %}
            </thead>
            <tbody>
              {% if listes|length > 0 %}

                {% for liste in listes %}
                    {% include 'admin/facture/_table.html.twig' with { 'type': 'tbody', 'liste': liste } %}
                {% endfor %}
              
              {% else %}
                  <tr>
                      <td>Aucun enregistrement trouvé</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                  </tr>
              {% endif %}
              
            </tbody>
          </table>

        </div>
    <script>
      //datatable
      function exporterFacture(type) {

            //var inc = 0;
            /*$("input[type=checkbox]").each(function (index) {
                if ($(this).is(":checked")) {
                    inc++;
                }
            });*/

            //if (inc != 0) { 
                if (type == "client") {
                    var form = $('#allFacture');
                }else {
                    var form = $('#exportZip');
                }

                form.attr('action', '/admin/facture/tout-exporter');
                form.submit();
            /*} else {
                alert('Pas de facture séléctionner !!!')
            }*/


            return false;

        }
        $(document).ready(function() {
            $('.tab-categorie').removeClass('active');
            $('#tab-produit-categorie').removeClass('active');
            $('.tab-produit-categorie').removeClass('active');
            $('#tab-categorie').removeClass('active');
            $('.tab-import-produit').removeClass('active');
            $('#tab-import-produit').removeClass('active');
            $('#tab-inventaire-produit').css('display','none');
  
  
            $('.tab-user').removeClass('active');
            $('#tab-utilisateur').removeClass('active');
    
            $('.tab-permission').removeClass('active');
            $('.tab-privilege').removeClass('active');
            $('.tab-cat-permission').removeClass('active');
            $('#tab-categorie-permission').removeClass('active');
            
            $('#tab-dashboard').removeClass('active');
            $('#tab-profile').removeClass('active');
       
            $('#tab-permission').removeClass('active');
            $('#tab-privilege').removeClass('active');
            $('#tab-transfert-produit').css('display', 'none');
            $('#affaires_client').removeClass('active').empty();
            $('#affaires_fournisseur').removeClass('active').empty();
            $('#tab-info-affaire').removeClass('active').empty();
            $('#tab-financier-affaire').removeClass('active').empty();
            $('#tab-fiche-client').removeClass('active').empty();
        
            $('#tab-application').removeClass('active');
            $('#tab-profile').removeClass('active');
             $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
            $('#tab-produit-type').removeClass('active');
            $('.tab-produit-type').removeClass('active');
            $('#tab-import-produit').css('display', 'none');
            $('#tab-facture').css('display', 'block');
            $('#tab-facture-affaire').css('display', 'none');
            $('#tab-nouveau-facture').css('display','none');
            $('#tab-devis').css('display','none');
            $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
       
      });

      $(document).ready(function() {
        var dateFormat = 'dd/mm/yyyy';
        var dateNow = new Date();
        dateNow.setDate(dateNow.getDate() + 1)

        $('.date-facture').datepicker({
            format: dateFormat,
            todayHighlight: true,
            daysOfWeekDisabled: '0',
            startDate: dateNow,
            language: 'fr',
            autoclose: true,

        });

        var nomCompte = $("#nom_compte").val();
        var statutPaiement = $("#filter_satatus").val();
        var dateDu = $("#date_facture_debut").val();
        var dateAu = $("#date_facture_end").val();
        var datePaieDu = $("#date_paiement_debut").val();
        var datePaieAu = $("#date_paiement_end").val();

        $('#liste-table-facture-ajax').DataTable({
            pageLength: 10,
            responsive: true,
            processing: true,
            serverSide: true,
            bStateSave: false,
            language: {
                'url': 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json',
            },
            dom: '<"d-flex justify-content-between"f>t<"d-flex justify-content-between"i<"d-flex"lp>>',
            //order: [[ 0, 'desc']],
            ordering: true,
            searching: { "regex": true },
            columnDefs: [
                {  // set default column settings
                    'orderable': false

                }
            ],
            lengthMenu: [ [5, 10, 25, 50, 100, 500, 2000], [5, 10, 25, 50, 100, 500, 2000] ],
            ajax: {
                type: 'POST',
                url: "/admin/facture/search-facture-datatable/from-ajax",
                dataType: "json",
                data: {nomCompte: nomCompte, statutPaiement: statutPaiement, limit: 25, dateDu: dateDu, dateAu: dateAu, datePaieDu: datePaieDu, datePaieAu: datePaieAu },
                complete: function (result) {
                  
                }

            },

        });

    });
  
    </script>